

.dmitrii{
    text-align: right;
    margin-right: 10px;
}
.content{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.posts{
    width: 67%
}
.tags{
    margin: 10px 0px 22px 0px;
    display: flex;
    align-items: center;
}

.tag{
    color: #BFBFBF;
    font-size: 14px;
    line-height: 22px;
    margin-right: 10px;
    &:last-child{
        margin: 0px;    
    }
}

.author{
    &-username{
        font-family: "SFProDisplay-Semibold", sans-serif; 
        display: block;
        font-size: 12px;
        line-height: 20px;
        color: #8C8C8C;
    }
    &-avatar{
      //  width: 34px;
        height: 34px;
        margin-left: 9px;
        border-radius: 4px;
    }
}


