.contact{
    &-list{
        width: 100%;
    }
    &-item{
        a{
            color: #D48806;
            &:hover{
                text-decoration: underline;
            }
        }
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 10px;
    }
}