

.menu-toggle{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    margin-left: 12px;
    span{
        height: 2px;
        width: 100%;
        background: #fff; 
    }
}
.header{

    &-logo{
        color: #fff;
        font-size: 24px;
    }
    background: #FA8C16;
    padding: 16px 0 16px 0;
    box-shadow :0px 2px 8px rgba(0, 0, 0, 0.15);
    margin-bottom: 30px;

    &-wrapper { 
        max-width: 1200px;
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-nav{
        margin-left: 60px;
        margin-right: auto;
    }

    &-menu{
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        margin-left: 60px;

        &-link{
            text-decoration: none;
            color: #FAFAFA;
            margin-right: 15px;
            font-size: 14px;
            line-height: 22px;
            // &:last-child{
            //     margin: 0px;    
            // }
            &:hover{
                color:#E5E5E5; //#8C8C8C;
            }
        }
    }

}


.input-group{
    width: 237px;
    height: 32px;
    position: relative;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid #D9D9D9;
}

.search-input{
    border:none;
    height: 100%;
    width: 80%;
    padding-left: 12px;
}
.search-button{
    width: 20%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border:none;
    background: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #BFBFBF;
    font-size: 14px;
    &:hover{
        font-size: 34px;background: #E5E5E5; //#8C8C8C;
        border-radius:10px;       
    }
}
