.add{
    &-post{
    display: flex;
    flex-direction: column;
    }
    &-title{
        height: 70px;
        margin-bottom: 16px;        
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        background: #FFFFFF;
        border: 1px solid #E8E8E8;
        padding-left: 30px;
    }
    &-text{
        resize: none;
        min-height: 362px;
        background: #FFFFFF;
        border: 1px solid #E8E8E8;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: #595959;
        padding: 30px;
        margin-bottom: 30px;
    }
    &-button{
        color:#fff;
        &:hover{
            svg{
                fill:#595959;
            }
            color: #595959;
        }
        &:active{
            background:#fff;
            svg{
                fill: #FAAD14;;
            }
            color:  #FAAD14;;
        }
    }

}