.icon-exit{
    width: 20px;
    height: 20px;
} 
.icon-fire{
    fill: white;
    width: 11px;
    height: 13px;
    margin-right: 10px;
}
.active{
    color: #FAAD14;
    border-right: 2px solid #FAAD14;
    background: #FFFBE6;
}

.button{
    text-decoration: none;    
    background: #FAAD14;
    border-radius: 4px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    padding: 13px;

    &-new-post{
        color:white;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;   
        &:hover{
            svg{
                fill:#595959;
            }           
            color: #595959;
        }  
        &:active{
            background:#fff;
            svg{
                fill: #FAAD14;;
            }
            color:  #FAAD14;;
        }
    }

}


.sidebar{
    width: 31%;
    &-nav{
        background: #fff;
    }
    &-menu{
        border: 1px solid #E8E8E8;
        border-top: none;
        margin-bottom: 20px;
        
        &-link{
            text-decoration: none;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 22px;
            color: #595959;
            padding: 16px 48px;
            display: inline-block;
            width: 100%;
            &:hover{               
                background: #FFFBE6;
            }
            
        }
    }
}

