.porto{
    &-git{
       margin-right: 20px;
    }
    &-label{
        font-style: italic;
        margin-bottom: 10px;
        text-align: center;        
    }
    &-title{
        margin:  0 20px 19px 0;
        text-align: left;
    }
    &-txt{
        font-size: 14px;
        line-height: 20px;
    }
}

.pagination{
    li{
        margin-right: 10px;
    }
    a{
        color: #FA8C16;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}